@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tu peux ajouter ici des styles globaux personnalisés si nécessaire */

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* ✅ Si Google Fonts ou font-face locale est utilisée */
body {
  font-family: 'DIN Alternate', sans-serif;
}

/* styles/globals.css ou dans tailwind.css */
/* === Variante 2 : néon violet-bleu-rose === */
.hover-link-vibrant {
  @apply transition duration-300 relative font-light;
}

.hover-link-vibrant:hover {
  font-weight: 600;
  background: linear-gradient(90deg, #ff00cc, #3333ff, #00ffff);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: holo-glow 2s ease-in-out infinite;
}

@keyframes holo-glow {
  0% { background-position: 0% center; }
  50% { background-position: 100% center; }
  100% { background-position: 0% center; }
}

/* ✅ Animation fondu */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in forwards;
}

/* ✅ Animation Carrousel*/
@keyframes verticalScroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-verticalScroll {
  animation: verticalScroll 200s linear infinite; /* ⏳ Durée réglable : modifie 30s à volonté */
}